@CHARSET "ISO-8859-1";


header {
	display:inline-block;
	padding:5px 10px;
	text-align:center;


}

#topbar {
	width: 100%;
	height: 60px;
	background: #9ccff9;
	font-size: 40px;
	font-weight: bold;
}

#rectangle {
	background: #9ccff9;
	text-align:center;

    width: 20%;
    margin: 0 auto;

}

#menubar {
	width: 100%;
	height: 40px;
	text-align:center;	
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}


.center {
    margin: auto;
    width: 700px;
    border:3px solid #005CAD;
    padding: 10px;
    background-color: #9ccff9;
}